apiVersion: kubevious.io/v1alpha1
kind: ClusterRule
metadata:
  name: container-env-from-config-map-ref
spec:
  summary: |
    Validate ContainerSpec envFrom variables projection ConfigMap reference.
  target: |
    Shortcut("ContainerSpec")
  rule: |
    for(const envFrom of config.spec?.envFrom ?? [])
    {
      if (envFrom.configMapRef)
      {
        if (envFrom.configMapRef.name)
        {
          const configMapItem = ApiVersion('v1')
                        .Kind("ConfigMap")
                        .name(envFrom.configMapRef.name)
                        .single()
          if (!configMapItem)
          {
            if (!envFrom.configMapRef.optional)
            {
              error(`Could not find ConfigMap ${envFrom.configMapRef.name} referenced in envFrom`);
            }
          }
        }
        else
        {
          error(`ConfigMap name not set in envFrom.configMapRef`);
        }
      }
    }