apiVersion: kubevious.io/v1alpha1
kind: ClusterRule
metadata:
  name: pod-spec-volume-config-map-ref
spec:
  summary: |
    Validate PodSpec volume mount ConfigMap reference.
  target: |
    Shortcut("PodSpec")
  rule: |
    for(const volume of config.spec?.volumes ?? [])
    {
      if (volume.configMap)
      {
        checkConfigMapRef(volume.name, volume.configMap);
      }
      else if (volume.projected)
      {
        for(const source of volume.projected.sources)
        {
          if (source.configMap)
          {
            checkConfigMapRef(volume.name, source.configMap);
          }
        }
      }
    }

    function checkConfigMapRef(volumeName, configMapRef)
    {
      const configMapItem = ApiVersion('v1')
                              .Kind("ConfigMap")
                              .name(configMapRef.name)
                              .single()
      if (!configMapItem)
      {
        if (!configMapRef.optional)
        {
          error(`Could not find ConfigMap ${configMapRef.name} referenced in volume ${volumeName}.`);
        }
      }
      else
      {
        if (configMapRef.items)
        {
          const dataObj = configMapItem.config.data ?? {};
          for(const item of configMapRef.items)
          {
            if (!dataObj[item.key])
            {
              if (!configMapRef.optional)
              {
                error(`Could not find data key ${item.key} in ConfigMap ${configMapRef.name} referenced in volume ${volumeName}.`);
              }
            }
          }
        }
      }
    }